/* =======================================================================================================================================*/
/* UNIVERSALE STYLING ====================================================================================================================*/
/* =======================================================================================================================================*/

body {
	background-color: black;
}


h2{
	margin: 0px;
}

.btn {
	background-color: #342924;
	color: white;
	border: none;
	margin: 5px;
	transition: all 250ms ease;
}

.btn:hover {
	background-color: #796054;
	color: #181411;
	border: none;
}

.btn::after {
	background-color: #342924;
	color: white;
}

/* =======================================================================================================================================*/
/* SIDEBAR STYLING =======================================================================================================================*/
/* =======================================================================================================================================*/

#sidebar {
    position:fixed;
    top:0;
		bottom:0;
		left:0;
    width: 80px;
		height: 200%;
		padding: 1%;
    background-color: #342924;
		background-image: url(/images/sidebar_bkgd.png);
		background-position: right;
}

nav {
	position: relative;
	right: 170px;
	top: 50px;
	width: 400px;
	padding: none;
	margin: none;
	/*ROTATE EFFECT*/
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

nav .btn{
	display: block;
}

nav h2{
	display: block;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: none;
	padding: none;
}

/* =======================================================================================================================================*/
/* BODY STYLING ==========================================================================================================================*/
/* =======================================================================================================================================*/

#content-wrapper {
	display: block;
	padding: 16px 0 0 100px;
}

.char-thumb{
	position: relative;
	display: block;
	background-color: #d5d5d5;
	background-size: cover;
	border-radius: 10px;
	float: left;
	margin: 10px;
	padding: 10px;
	width: 45%;
	color: white;
	text-shadow: 2px 2px 4px black;
}

.char-full{
	width: 92%;
}

.backstory{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
}


/* =======================================================================================================================================*/
/* MODAL STYLING =========================================================================================================================*/
/* =======================================================================================================================================*/

input{
	width: 90%;
	border: none;
	border-bottom: 2px solid black;
}

.backstory-input{
	width: 98%;
	height: 400px;
	border: 2px solid black;
}
